.ColorPicker {
  button {
    border: none;
    cursor: pointer;
  }
  
  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }
}
